.likebutton {
  display: flex;
}
.likebutton h2 {
  margin-top: 0.5rem;
  font-weight: 200;
  padding-left: 1rem;
}
.audio_container {
  display: flex;
}
.audio_tag {
  text-align: center;
}
audio {
  margin-left: 1rem;
  width: 20rem;
}
.Song_information {
  margin-left: 1rem;
}
.Drop_menu select {
  margin-top: 1rem;
  border: none;
  outline: none;
}
.Song_subtitle {
  color: red;
}
.Song_menu:hover {
  background-color: antiquewhite;
  margin: 0;
  box-shadow: 1px 1px 20px;
}
.Song_title {
  font-weight: bold;
  font-size: large;
}
